@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  font-family: "Poppins", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #b99976 #1a1a1a;
}

.ff_promt {
  font-family: "Prompt", sans-serif;
}

@media (min-width: 768px) {
  .bg_account {
    background: url(./assets/images/png/accoutimg.png) fixed no-repeat;
    background-size: cover;
  }
}
@media (min-width: 1440px) {
  .pt_30 {
    padding-top: 30px;
  }

  .h_auto {
    height: auto;
  }
}

[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1 !important;
  transform: translateZ(0) !important;
  transition: all 2s !important;
}

[data-aos="fade-right"] {
  transform: translate3d(-400px, 0, 0) !important;
  transition: all 2s !important;
}

::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

::-webkit-scrollbar-track {
  background: #1a1a1a; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    #b99976,
    #e0c3a6
  );
  border-radius: 10px;
  border: 3px solid #1a1a1a; 
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45deg,
    #d2b48c,
    #e3bca5
  ); 
}
